.follow-card{
    height: 50px;
    width: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.follow-card-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.follow-card-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.follow-card-user, .follow-card-name{
    width: 80px;
    margin: 0px;
    color: white;
}

.follow-card-aside{
    display: flex;
    align-items: center;
}


.follow-card-button{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    text-align: center;

}
 .follow-card-button:hover{
    background-color: rgb(57, 57, 139);
    color:white
 }

 .button-selected{
    border: 1px solid red
 }

 .button-selected:hover{
    background-color: red;
    color: white;
 }