header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

h1{
    font-size: 60px;
}

#searchInput {
    width: 70%;
    max-width: 800px;
    padding: 10px;
    border-radius: 20px;
}

