header{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
}
.filters {
    max-width: 1000px;
    display: flex;
}

.filtro_category {
    margin-left: 20px;
}
